<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de actor</title>
</head>
<body>
    <h1>{{ actor.nombre }} {{ actor.apellidos }}</h1>
    <ul>
        <img src="{{actor.url_imagen}}" alt="Foto actor" style="width: 190px; height: 260px;"> <br>
        <li>Fecha nacimiento: {{ actor.fechaNacimiento }}</li>
        <li>Peliculas en las que aparece: </li>
        <ul>
            {% for pelicula in actor.pelicula_set.all %}
                <li><a href="{% url 'detallePelicula' pelicula.titulo %}">{{ pelicula.titulo }}</a> ({{ pelicula.fecha }})</li>
                <a href="{% url 'detallePelicula' pelicula.titulo %}"><img src="{{pelicula.url_imagen}}" alt="Portada película" style="width: 190px; height: 260px;"></a> <br>
            {% empty %}
                <li>Este actor no tiene películas registradas.</li>
            {% endfor %}
        </ul>        
    </ul>
</body>
</html>
