<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de pelicula</title>
</head>
<body>
    <h1>{{ pelicula.titulo }}</h1>
    <ul>
        <img src="{{pelicula.url_imagen}}" alt="Portada película" style="width: 190px; height: 260px;"> <br>
        <li>Fecha lanzamiento: {{ pelicula.fecha }}</li>
        <li>Director: <a href="{% url 'detalleDirector' pelicula.director.id %}">{{ pelicula.director.nombre }} {{ pelicula.director.apellidos }}</a></li>
        <li>
            Actores: 
            <ul>
                {% for actor in pelicula.actores.all %}
                    <li><a href="{% url 'detalleActor' actor.id %}">{{ actor.nombre }} {{ actor.apellidos }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</body>
</html>
